**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/data-types-and-missing-values).**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [3]:
import pandas as pd
import os

reviews = pd.read_csv(os.getcwd() + '\\' + "winemag-data-130k-v2.csv", index_col=0)

# from learntools.core import binder; binder.bind(globals())
# from learntools.pandas.data_types_and_missing_data import *
# print("Setup complete.")

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [ ]:
# Your code here
dtype = ____

# Check your answer
q1.check()

In [ ]:
#q1.hint()
#q1.solution()

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [ ]:
point_strings = ____

# Check your answer
q2.check()

In [ ]:
#q2.hint()
#q2.solution()

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [4]:
n_missing_prices = sum(reviews.price.isnull())
n_missing_prices
# Check your answer
# q3.check()

8996

In [ ]:
#q3.hint()
#q3.solution()

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [8]:
reviews_per_region = reviews.fillna('Unknown').region_1.value_counts()
reviews_per_region
# Check your answer
# q4.check()

Unknown                        21247
Napa Valley                     4480
Columbia Valley (WA)            4124
Russian River Valley            3091
California                      2629
                               ...
Colli del Limbara                  1
Mendocino-Amador                   1
Apremont                           1
Breganze                           1
San Martino della Battaglia        1
Name: region_1, Length: 1230, dtype: int64

In [5]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [ ]:
#q4.hint()
#q4.solution()

# Keep going

Move on to **[renaming and combining](https://www.kaggle.com/residentmario/renaming-and-combining)**.

---




*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum/161299) to chat with other Learners.*